.shimmer {
    animation-duration: 1.5s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: shimmer;
    animation-timing-function: linear;
    background: darkgray;
    background: linear-gradient(to right, #eff1f3 8%, #e2e2e2 18%, #eff1f3 33%);
    background-size: 1000px 104px;
    position: relative;
}

@keyframes shimmer {
    0% {
        background-position: -468px 0;
    }

    100% {
        background-position: 468px 0;
    }
}